{% extends "../AppStaticSite/layout.html" %}


{% block title %}
    <title>магазин</title>
{% endblock %}


{% block main %}
            <div id="pk">{{ path_element }}</div>
            <h5 class="card-title text-center">Магазин</h5>
            <p class="card-text">Данные магазина</p>
            {% load static %}
            <div class="card">
            <div class="card-body">
    {#            <form action="https://www.bing.com/search" id="UserEnter" name="UserEnter" target="_blank">#}
                <form action="{% url 'AppStaticSite:store_result' %}" id="UserEnter" name="UserEnter" target="_blank">
                    <ul class="d-flex flex-row flex-wrap ">
                        {% for object in dict_of_array.objects_array %}
                            <li class="m-2 list-group-item bg-light border p-3">
                                <img src="{% static object.img %}" width="200px>">
                                <img src="{{ object.img }}" width="200px>">
                                <img src="{% get_static_prefix %}{{ object.img }} " alt="My image" width=100px height=100px>

                                <h6>{{ object.title }}</h6>
                                <p>{{ object.description|truncatewords:3 }}.
                                    <br> Цена: {{ object.price|floatformat:3}}р. {{ object.price|floatformat:0}}р. Код {{ object.vendor_code|lower }}
                                    <input name="vendor_code" type='hidden' value={{ object.vendor_code}}>
                                    <br>Заказать<input style=" width: 2.0rem;" name="amount" type="text" value=0> шт.
                                </p>
                            </li>
                        {% endfor %}
                    </ul>
                    <button class="btn btn-primary" type="submit">Отправить</button>
                </form>
            </div>
        </div>


{% endblock %}

{# https://django.fun/docs/django/5.0/ref/templates/builtins/#first #}